<section class="_fddeb5 _bfcb5a contact-location" aria-labelledby="contact-location-title">
	<div class="_09d861 contact-location__heading">
		<div class="_f55a96 _76b310">место</div>
		<div class="_30ea2f _76b310"><h1 id="contact-location-title">Янино-2<br />рядом с Петербургом.</h1></div>
	</div>
	<figure class="_8eb485 contact-location__visual" aria-label="Минимальная схема направления к Ближнему кругу">
		<svg class="contact-map" viewBox="0 0 920 620" role="img" aria-labelledby="contact-map-title contact-map-desc" xmlns="http://www.w3.org/2000/svg">
			<title id="contact-map-title">Схема от Петербурга к Янино-2</title>
			<desc id="contact-map-desc">Минимальная схема направления от Санкт-Петербурга к Янино-2 и Колтушским высотам.</desc>
			<rect class="contact-map__background" width="920" height="620" />
			<path class="contact-map__water" d="M0 360C76 336 146 340 219 374C291 407 358 407 428 361C483 325 524 306 574 311C505 268 424 258 347 286C272 313 203 300 130 272C79 253 36 249 0 257V360Z" />
			<path class="contact-map__city" d="M93 321C75 236 117 161 198 133C288 102 364 151 384 246C406 348 337 435 236 441C160 446 110 395 93 321Z" />
			<path class="contact-map__city-ring" d="M128 318C117 258 150 205 207 187C275 165 329 205 343 273C357 347 306 404 236 405C181 406 139 376 128 318Z" />
			<path class="contact-map__land" d="M403 118C506 56 665 60 764 149C848 225 871 351 810 453C758 539 655 581 548 549C456 521 396 435 371 344C341 235 333 161 403 118Z" />
			<path class="contact-map__land contact-map__land--soft" d="M503 217C586 174 702 188 753 267C797 337 758 432 680 465C600 499 510 468 472 393C439 330 448 248 503 217Z" />
			<path class="contact-map__field contact-map__field--north" d="M552 181C616 153 692 174 731 233C732 300 685 360 617 378C560 354 528 301 535 242C538 215 544 195 552 181Z" />
			<path class="contact-map__field contact-map__field--south" d="M445 307C493 269 566 266 618 307C618 369 578 421 515 432C461 413 431 369 430 318C434 314 439 310 445 307Z" />
			<path class="contact-map__route contact-map__route--main" d="M117 313C199 274 276 269 354 294C435 320 508 300 589 271C648 250 703 218 761 171" />
			<path class="contact-map__route contact-map__route--branch" d="M589 271C637 309 682 337 748 358" />
			<path class="contact-map__contour contact-map__contour--one" d="M421 169C505 124 642 128 724 195" />
			<path class="contact-map__contour contact-map__contour--two" d="M412 243C500 203 636 208 744 287" />
			<path class="contact-map__contour contact-map__contour--three" d="M428 444C514 500 641 515 749 442" />
			<path class="contact-map__path contact-map__path--city" d="M134 351L383 294" />
			<path class="contact-map__path contact-map__path--field" d="M541 351C591 311 648 279 713 256" />
			<circle class="contact-map__node contact-map__node--city" cx="235" cy="318" r="6" />
			<circle class="contact-map__node contact-map__node--venta" cx="706" cy="214" r="6" />
			<circle class="contact-map__node contact-map__node--heights" cx="742" cy="358" r="6" />
			<circle class="contact-map__home-ring" cx="589" cy="271" r="28" />
			<circle class="contact-map__node contact-map__node--home" cx="589" cy="271" r="8" />
		</svg>
	</figure>
	<div class="_756826 contact-location__copy">
		<div class="_936645 _76b310"><p>Вдалеке от цивилизации, но рядом с городом.</p></div>
		<div class="_b02a17 _76b310 contact-location__body"><p>Схема показывает только направление: Петербург, Янино-2 и зелёный рельеф Колтушских высот. Точный адрес и маршрут передаются после согласования формата.</p></div>
		<div class="_d43f79 _76b310 contact-location__points"><ul><li>Петербург<br />рядом.</li><li>Конный клуб<br />Вента.</li><li>Колтушские<br />высоты.</li></ul></div>
		<div class="_783e33 _76b310 contact-location__actions"><ul><li><a href="https://yandex.ru/maps/?text=Янино-2%20Колтушские%20высоты" target="_blank" rel="noopener noreferrer">Открыть Яндекс.Карты</a></li></ul></div>
	</div>
</section>
