/* css-modules:css-modules://src_components_inputfile */
._a131ac {
  display: grid;
}
._f4c0e5 {
  grid-column: 1/-1;
  grid-row: 1/2;
}
._646049 {
  --padding-block-placeholder: 0.5em;
  --border-width: 1px;
  grid-column: 1/-1;
  grid-row: 2/3;
  box-sizing: border-box;
  display: block flex;
  flex-wrap: wrap;
  min-height: 3.125rem;
  padding: 0;
  border-radius: 2px;
  border: var(--border-width) solid var(--green-dark);
  background-color: var(--green-dark);
  font-family: "Neue Machina", sans-serif;
  font-size: var(--text-medium);
  font-weight: 400;
  letter-spacing: 0.0625em;
  color: var(--grey);
  &:has(~ input:focus) {
    outline: 2px solid var(--grey);
    border-radius: 2px;
  }
  @supports not selector(:user-invalid) {
    &:has(~ input:invalid) {
      border-color: var(--red);
      outline-color: var(--red);
      color: var(--red);
    }
  }
  &:has(~ input:user-invalid) {
    border-color: var(--red);
    outline-color: var(--red);
    color: var(--red);
  }
  @media (min-width: 1024px) {
    min-height: 3.75rem;
  }
}
._fd37e6 {
  display: block grid;
  align-items: center;
  padding: 1rem 1em;
  line-height: 1;
  opacity: 0.2;
}
@supports not selector(:user-invalid) {
  ._646049:has(~ input:invalid) ._fd37e6 {
    opacity: 0.3;
  }
}
._646049:has(~ input:user-invalid) ._fd37e6 {
  opacity: 0.3;
}
._b5ecf8 {
  flex-shrink: 0;
  box-sizing: border-box;
  display: block grid;
  min-height: calc(3.125rem - 2*var(--border-width));
  margin-left: auto;
  padding: 0.625rem;
  @media (min-width:1024px) {
    min-height: calc(3.75rem - 2 * var(--border-width));
  }
}
._593a83 {
  box-sizing: border-box;
  display: block grid;
  place-items: center;
  padding: 0 1.25em;
  border-radius: 2px;
  border: 1px solid var(--grey);
  background-color: var(--rose);
  font-family: "Neue Machina", sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--green);
  @media (min-width:1024px) {
    font-size: 1rem;
  }
}
._a3a599 {
  grid-column: 1/-1;
  grid-row: 1/3;
  -webkit-appearance: none;
  min-width: 0;
  opacity: 0;
  cursor: pointer;
}
