/* src/index.css */
@font-face {
  font-family: "Grafier";
  src: url(/Grafier-RegularDisplay-JBYXNUJ4.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/NeueMachina-Ultralight-L6F37B7B.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/NeueMachina-Regular-RIUAPWEK.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/NeueMachina-Black-3G4SBTUK.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* css-modules:css-modules://src_body */
._836ebc {
  --heading-1: 11.2vmin;
  --heading-2: 11.2vmin;
  --heading-3: 6.4vmin;
  --heading-4: 6.4vmin;
  --heading-5: 5.333vmin;
  --lead: 6.4vmin;
  --quote: 9.067vmin;
  --page-nav: 4.267vmin;
  --eyebrow: 0.625rem;
  --label: 0.75rem;
  --text--small: 0.75rem;
  --text: 0.75rem;
  --text-medium: 1rem;
  --column-width: calc(((100vw - (17 * var(--space-small))) / 16));
  --scrollbar: 17px;
  --space-xx-small: 1.25vmin;
  --space-x-small: 2.5vmin;
  --space-small: 5vmin;
  --space: 10vmin;
  --space-medium: 15vmin;
  --space-large: 20vmin;
  --space-x-large: 30vmin;
  --space-xx-large: 50vmin;
  --rose: #ffe1d8;
  --rose-dark: #ffd7cb;
  --grey: #d8d8d8;
  --grey-dark: #cccccc;
  --green: #1f3f3e;
  --green-dark: #193232;
  --red: #d75554;
  --ease-inout-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-inout-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-inout-expo: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-inout-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --color: var(--grey);
  --background: var(--green);
  --background-dark: var(--green-dark);
  margin: 0;
  font-family: "Neue Machina", sans-serif;
  font-weight: 400;
  width: 100vw;
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}
._836ebc *::selection {
  color: var(--green);
  background-color: var(--rose);
  opacity: 1;
}
._0f2f05 {
  --color: var(--green);
  --background: var(--rose);
  --background-dark: var(--rose-dark);
}
._752eb1 {
  --color: var(--green);
  --background: var(--grey);
  --background-dark: var(--grey-dark);
}
._0f2f05 *::selection {
  color: var(--rose);
  background-color: var(--green);
}
._4691f2 {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  height: 100svh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
  font-family: inherit;
  text-align: left;
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}
@media (min-width:1024px) {
  ._836ebc {
    --heading-1: 7.292vw;
    --heading-2: 6.25vw;
    --heading-3: 2.917vw;
    --heading-4: 1.875vw;
    --heading-5: 1.667vw;
    --lead: 2.917vw;
    --quote: 2.917vw;
    --page-nav: 2.917vw;
    --eyebrow: 0.75rem;
    --space-xx-small: 0.25vw;
    --space-x-small: 0.5vw;
    --space-small: 1vw;
    --space: 2vw;
    --space-medium: 3vw;
    --space-large: 4vw;
    --space-x-large: 6vw;
    --space-xx-large: 10vw;
  }
}
@media (min-width:1024px) {
  ._836ebc {
    --eyebrow: 0.875rem;
    --text: 0.875rem;
    --text-medium: 1.125rem;
  }
}
@media (min-width:1680px) {
  ._836ebc {
    --text: 1rem;
    --text-medium: 1.25rem;
  }
}

/* css-modules:css-modules://src_components_accordion */
@keyframes slideDownAccordionItem {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}
._7a5709 {
  position: relative;
  background: var(--background-dark);
  padding: var(--space-x-large)0;
}
._28fc65 {
  padding: 0 var(--space-small);
}
._28fc65 > :last-child {
  border: none;
}
._c92d82 ._a74a05 {
  transform: rotate(180deg);
}
._bd16e4 {
  padding: var(--space-small)0;
  border-bottom: solid 1px currentColor;
}
._610cec {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-small);
  align-items: center;
  padding: 0 var(--space-xx-small)0 0;
}
._211ec5 {
  font-size: var(--heading-3);
  line-height: 1.2;
  font-family: Grafier, serif;
  font-weight: 400;
}
._a74a05 {
  width: 2.133vmin;
  height: 11.2vmin;
  fill: currentColor;
}
._aec7c5 {
  display: none;
  padding: var(--space-large)0 0 0;
}
._46c4b4 {
  font-size: var(--text);
  padding: 0 0 var(--space-small)0;
  line-height: 1.6;
}
._46c4b4 p {
  padding: 0 0 1em 0;
}
._46c4b4 p:last-of-type {
  padding: 0;
}
._46c4b4 a {
  font-weight: 900;
  letter-spacing: 0.05em;
}
._6aabab {
  position: relative;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 75vw;
  width: calc(100% + var(--space));
  left: calc(var(--space-small)*-1);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  cursor: grab;
}
._6aabab::-webkit-scrollbar {
  display: none;
}
._6aabab > :last-child:after {
  content: "";
  position: absolute;
  width: 20vw;
  right: -20vw;
  top: 0;
  height: 100%;
}
._8e8ce4 {
  position: relative;
  scroll-snap-align: start;
  padding: 0 0 0 var(--space-small);
}
._edca13 {
  position: relative;
  padding-bottom: calc((9/16)*100%);
  background: var(--background);
}
._1e2181 {
  padding: var(--space)0;
}
._408fff {
  position: absolute;
  width: 100%;
  height: 100%;
}
._e55906 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 0.5em 0;
}
._3172ae {
  font-size: var(--heading-5);
  line-height: 1.1;
  padding: 0 0 var(--space)0;
  font-weight: 400;
}
._26301c {
  font-size: var(--text);
  line-height: 1.6;
}
._26301c p {
  padding: 0 0 1em 0;
}
._26301c p:last-of-type {
  padding: 0;
}
._26301c a {
  font-weight: 900;
}
._26301c table {
  font-family: inherit;
  font-size: var(--text);
  line-height: 1.6;
  width: 100%;
  border-collapse: collapse;
  margin: var(--space-x-small)0 0 0;
}
._26301c table tr {
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}
._26301c table tr:last-of-type {
  border-bottom: none;
}
._26301c table td {
  padding: var(--space-x-small)0;
  vertical-align: top;
}
._26301c table b {
  font-weight: 900;
}
._26301c table tr > :last-child {
  text-align: right;
  white-space: nowrap;
}
@media (min-width:1024px) {
  ._7a5709 {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: var(--space-small);
    padding: var(--space-xx-large) var(--space-small);
    z-index: 100;
  }
  ._28fc65 {
    grid-column: 2/-2;
    padding: 0;
  }
  ._bd16e4 {
    padding: var(--space-small)0;
  }
  ._610cec {
    padding: 0 var(--space-x-small)0 0;
  }
  ._a74a05 {
    width: 0.416vw;
    height: 2.187vw;
    fill: currentColor;
  }
  ._aec7c5 {
    padding: var(--space)0 0 0;
  }
  ._46c4b4 {
    line-height: 2;
    max-width: 50%;
    padding: 0 0 var(--space-large)0;
  }
  ._6aabab {
    left: 0;
    gap: var(--space-medium);
    width: calc(100% + var(--column-width) + var(--space));
    grid-auto-columns: calc(var(--column-width)*3 + calc(var(--space-small)*2));
  }
  ._6aabab > :last-child:after {
    --width: calc(var(--column-width) * 12 + var(--space-small) * 12);
    width: var(--width);
    right: calc(var(--width)*-1);
  }
  ._8e8ce4 {
    padding: 0;
  }
  ._1e2181 {
    padding: var(--space)0;
  }
  ._3172ae {
    padding: 0 0 var(--space-medium)0;
  }
}
@media (pointer:fine) {
  ._6aabab {
    overflow-x: hidden;
    scroll-snap-type: unset;
  }
  ._8e8ce4 {
    scroll-snap-align: unset;
  }
}

/* css-modules:css-modules://src_components_anchor */
._424e8e {
}

/* css-modules:css-modules://src_components_fadein */
._76b310 {
  will-change: transform, opacity;
}

/* css-modules:css-modules://src_components_form */
._75ecff {
  padding: 0 var(--space-small) var(--space-large);
  @media (min-width:1024px) {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    align-content: start;
    align-items: start;
    gap: 0 var(--space-small);
    padding: 0 var(--space-small) var(--space-xx-large);
  }
}
._231c65 {
  --row-gap: 1rem;
  --column-gap: 0.625rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: var(--row-gap) var(--column-gap);
  @media (min-width:1024px) {
    --row-gap: 1.5rem;
    --column-gap: 1.25rem;
    grid-column: 5/-5;
    z-index: 10;
  }
  @media (min-width:1680px) {
    grid-column: 6/-6;
  }
  &:valid {
    & button[type=submit] {
      border-color: var(--rose);
      outline-color: var(--rose);
      background-color: var(--rose);
      color: var(--green);
      cursor: pointer;
    }
  }
}
._670645 {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: var(--row-gap) var(--column-gap);
  margin: 0;
  padding: 0;
  border-width: 0;
}
._c4a5ae {
  grid-column: span 6;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: 1px solid var(--grey);
  background-color: transparent;
  font-family: "Neue Machina", sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: var(--grey);
  cursor: not-allowed;
  @media (min-width:1024px) {
    grid-column: span 6;
    font-size: 1rem;
  }
  @media (min-width:1680px) {
    grid-column: 4 / span 3;
  }
}
._695ee5 {
  grid-column: 5/-5;
  z-index: 10;
  padding-block-start: 1rem;
  color: var(--red);
}

/* css-modules:css-modules://src_components_header */
@keyframes scaleInHeaderItem {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes animateLogoLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50vw + var(--space-small) + 50%));
  }
}
@keyframes animateLogoRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50vw - var(--space-small) - var(--scrollbar) - 50%));
  }
}
._68f6d6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  height: 100vh;
  height: 100svh;
}
._15837d {
  padding: var(--space) var(--space-small);
  pointer-events: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
}
._df3134 {
  position: relative;
  width: 41.6vmin;
  height: 8.889vmin;
}
._df3134 svg,
._df3134 img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
._df3134 svg {
  fill: currentColor;
}
._df3134 img {
  object-fit: contain;
  pointer-events: none;
}
._d7265a {
  pointer-events: auto;
  font-size: 0.875rem;
  opacity: 0;
}
._68695a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--green);
  display: none;
}
._cdc81a {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20vh var(--space);
  align-content: space-between;
  align-items: center;
  justify-content: start;
  justify-items: start;
  box-sizing: border-box;
  font-size: var(--label);
}
._c67921 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 2;
  padding: 0 0 1em 0;
  pointer-events: auto;
  opacity: 0;
}
._367ede {
  border-bottom: solid 1px currentColor;
}
._2575d7 {
  word-spacing: 0.5em;
}
._856e5a {
  pointer-events: auto;
  width: 6.667vmin;
  height: 6.133vmin;
  position: absolute;
  top: var(--space-small);
  right: var(--space-small);
  opacity: 0;
}
._856e5a svg {
  fill: var(--grey);
}
@media (min-width:1024px) {
  ._68f6d6 {
    position: absolute;
  }
  ._15837d {
    padding: 0;
  }
  ._d7265a {
    display: none;
  }
  ._df3134 {
    position: fixed;
    width: 16vw;
    height: 2.448vw;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    will-change: transform;
  }
  ._df3134 > * {
    will-change: transform;
  }
  ._df3134._aab9ab > :first-child {
    transform: translateX(calc(-50vw + 8vw + var(--space-small)));
  }
  ._df3134._aab9ab > :last-child {
    transform: translateX(calc(50vw - 8vw - var(--space-small) - var(--scrollbar)));
  }
  ._68695a {
    position: fixed;
    display: grid;
    gap: var(--space-small);
    height: auto;
    padding: var(--space-medium) var(--space-small);
    box-sizing: border-box;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    background: none;
    width: 100vw;
    z-index: 200;
  }
  ._cdc81a {
    position: relative;
    display: grid;
    gap: var(--space);
    grid-auto-flow: column;
    grid-column: 1/-2;
    padding: 0;
    justify-content: end;
  }
  ._c67921:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -1%;
    height: 1px;
    width: 102%;
    background: currentColor;
    animation: 250ms var(--ease-out-expo) scaleInHeaderItem;
    animation-fill-mode: both;
    animation-play-state: paused;
  }
  ._367ede {
    border-bottom: none;
  }
  ._367ede:after {
    animation-play-state: running;
  }
  ._2575d7 {
    padding: 0 0 1em var(--space);
  }
  ._856e5a {
    display: none;
  }
}

/* css-modules:css-modules://src_components_image */
._d4edf9 {
  --aspect-landscape: 16/9;
  --aspect-portrait: 9/19;
  position: relative;
  padding-bottom: calc(var(--aspect-portrait)*100%);
}
._753509 {
}
._8ef60b {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 250ms linear;
  object-fit: cover;
}
._718783 {
  opacity: 1;
}
@media (orientation:landscape) {
  ._d4edf9 {
    padding-bottom: calc(var(--aspect-landscape)*100%);
  }
}

/* css-modules:css-modules://src_components_inputfile */
._a131ac {
  display: grid;
}
._f4c0e5 {
  grid-column: 1/-1;
  grid-row: 1/2;
}
._646049 {
  --padding-block-placeholder: 0.5em;
  --border-width: 1px;
  grid-column: 1/-1;
  grid-row: 2/3;
  box-sizing: border-box;
  display: block flex;
  flex-wrap: wrap;
  min-height: 3.125rem;
  padding: 0;
  border-radius: 2px;
  border: var(--border-width) solid var(--green-dark);
  background-color: var(--green-dark);
  font-family: "Neue Machina", sans-serif;
  font-size: var(--text-medium);
  font-weight: 400;
  letter-spacing: 0.0625em;
  color: var(--grey);
  &:has(~ input:focus) {
    outline: 2px solid var(--grey);
    border-radius: 2px;
  }
  @supports not selector(:user-invalid) {
    &:has(~ input:invalid) {
      border-color: var(--red);
      outline-color: var(--red);
      color: var(--red);
    }
  }
  &:has(~ input:user-invalid) {
    border-color: var(--red);
    outline-color: var(--red);
    color: var(--red);
  }
  @media (min-width: 1024px) {
    min-height: 3.75rem;
  }
}
._fd37e6 {
  display: block grid;
  align-items: center;
  padding: 1rem 1em;
  line-height: 1;
  opacity: 0.2;
}
@supports not selector(:user-invalid) {
  ._646049:has(~ input:invalid) ._fd37e6 {
    opacity: 0.3;
  }
}
._646049:has(~ input:user-invalid) ._fd37e6 {
  opacity: 0.3;
}
._b5ecf8 {
  flex-shrink: 0;
  box-sizing: border-box;
  display: block grid;
  min-height: calc(3.125rem - 2*var(--border-width));
  margin-left: auto;
  padding: 0.625rem;
  @media (min-width:1024px) {
    min-height: calc(3.75rem - 2 * var(--border-width));
  }
}
._593a83 {
  box-sizing: border-box;
  display: block grid;
  place-items: center;
  padding: 0 1.25em;
  border-radius: 2px;
  border: 1px solid var(--grey);
  background-color: var(--rose);
  font-family: "Neue Machina", sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--green);
  @media (min-width:1024px) {
    font-size: 1rem;
  }
}
._a3a599 {
  grid-column: 1/-1;
  grid-row: 1/3;
  -webkit-appearance: none;
  min-width: 0;
  opacity: 0;
  cursor: pointer;
}

/* css-modules:css-modules://src_components_intro_intro */
._8e32b5 {
  position: relative;
  height: 100vh;
  height: 100lvh;
}

/* css-modules:css-modules://src_components_responsiveimage */
._c330a0 {
  position: relative;
}
._244e6b {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 250ms linear;
  object-fit: cover;
}
._c7d48a {
  opacity: 1;
}

/* css-modules:css-modules://src_components_slider */
._fbca88 {
  position: relative;
  padding: var(--space-large)0 var(--space-medium)0;
  background: var(--background-dark);
}
._a2c54c {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-xx-small)0;
}
._9c6871 {
  font-size: var(--heading-1);
  font-family: Grafier, serif;
  line-height: 1;
  font-weight: 400;
}
._c41525 {
  padding: 0 var(--space-small) var(--space) var(--space-small);
}
._00ed9b {
  position: relative;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  grid-auto-columns: minmax(85vw, min-content);
  scroll-snap-type: x mandatory;
  padding: 0 0 var(--space-small)0;
  cursor: grab;
}
._00ed9b > :last-child:after {
  content: "";
  position: absolute;
  width: 15vw;
  right: -15vw;
  top: 0;
  height: 100%;
}
._6cb22c {
  position: relative;
  scroll-snap-align: start;
  padding: 0 0 0 var(--space-small);
}
._74c999 {
  font-family: Grafier, serif;
  font-size: var(--heading-4);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 0 0 var(--space-xx-small)0;
}
._66ad79 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  padding: 0 0 var(--space-small)0;
}
._fb9fa2 {
  font-size: var(--text);
  line-height: 1.6;
  letter-spacing: 0.05em;
}
._fb9fa2 p {
  padding: 0 0 1em 0;
}
._fb9fa2 p:last-of-type {
  padding: 0;
}
._fb9fa2 a {
  font-weight: 900;
  letter-spacing: 0.1em;
}
@media (min-width:1024px) {
  ._fbca88 {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 0 var(--space-small);
    padding: var(--space-xx-large) var(--space-small);
    z-index: 100;
  }
  ._c41525 {
    grid-column: 3/-3;
    padding: 0 0 var(--space-large)0;
  }
  ._9c6871 {
    padding: 0 0 var(--space-x-small)0;
  }
  ._66ad79 {
    padding: 0 0 var(--space-medium)0;
  }
  ._00ed9b {
    grid-column: 1/-1;
    width: calc(100% + var(--space));
    left: calc(var(--space-small)*-1);
    gap: 0;
    grid-auto-columns: calc(var(--column-width)*6 + calc(var(--space-small)*6));
  }
  ._6cb22c {
    padding: 0 0 0 calc(var(--column-width) + var(--space));
    box-sizing: border-box;
  }
  ._00ed9b > :last-child:after {
    --width: calc(var(--column-width) * 10 + calc(var(--space-small) * 11));
    width: var(--width);
    right: calc(var(--width)*-1);
  }
  ._fb9fa2 {
    font-size: var(--text-medium);
    line-height: 2;
  }
  ._fb9fa2 a {
    font-size: 0.8em;
  }
}
@media (pointer:fine) {
  ._00ed9b {
    scroll-snap-type: unset;
    overflow-x: hidden;
    cursor: grab;
  }
  ._6cb22c {
    scroll-snap-align: unset;
  }
}

.route-transition-cover {
  position: fixed;
  inset: 0;
  z-index: 150;
  pointer-events: none;
  opacity: 0;
  display: none;
  background: var(--background);
  will-change: opacity;
}

/* css-modules:css-modules://src_components_stage_stage */
._0300ce {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  top: 0;
  left: 0;
  pointer-events: none;
  will-change: transform;
}
._0300ce canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
._a7f9b9 {
  display: none;
  pointer-events: none;
  position: fixed;
  grid-template-columns: minmax(min-content, 400px);
  justify-content: center;
  align-content: center;
  padding: var(--space);
  box-sizing: border-box;
  top: 0;
  left: 0;
  color: var(--grey);
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  transition: opacity 250ms linear;
}
._ac2116 {
  position: relative;
  height: 1px;
  background: var(--green-dark);
}
._3b1a6f {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--grey);
  transform-origin: left center;
  transition: transform 150ms ease-in-out;
  transform: scaleX(0);
  will-change: transform;
}
._3ee867 {
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 0.5em 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
._bd2a67 {
  font-weight: 900;
}
._390565 {
}
._42c532 {
}
@media (min-width:1024px) {
  ._a7f9b9 {
    padding: calc(3*var(--space))0;
    align-content: end;
  }
}

/* css-modules:css-modules://src_pages_page */
._7abbf3 {
  position: relative;
  color: var(--color);
  width: 100vw;
}
._b28a1c {
}
._b29fee {
  position: fixed;
  top: 0;
  right: 0;
  font-size: var(--text);
  padding: 5vmin;
  text-decoration: none;
  color: inherit;
}

/* css-modules:css-modules://src_components_section */
._fddeb5 {
  position: relative;
  padding: var(--space-large) var(--space-small);
  &:has(+ div > form) {
    padding-block-end: 3.75rem;
  }
}
._b3c48e {
  padding: var(--space-xx-large) var(--space-small) var(--space-large) var(--space-small);
}
._09d861 {
  position: relative;
  padding: 0 0 var(--space)0;
}
._756826 {
  position: relative;
}
._756826 > :last-child {
  padding-bottom: 0;
}
._f55a96 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-xx-small)0;
}
._30ea2f {
  font-family: Grafier, serif;
  font-size: var(--heading-1);
  line-height: 1;
  font-weight: 400;
  hyphens: auto;
}
._bfcb5a ._30ea2f {
  font-size: var(--heading-2);
}
._936645 {
  font-family: Grafier, serif;
  font-size: var(--lead);
  line-height: 1.2;
  font-weight: 400;
  padding: 0 0 var(--space-small)0;
}
._936645 p {
  padding: 0 0 1em 0;
}
._936645 p:last-of-type {
  padding: 0;
}
._8eb485 {
  margin: 0 calc(var(--space-small)*-1);
  padding: 0 0 var(--space)0;
}
._b02a17 {
  font-size: var(--text-medium);
  line-height: 1.6;
  padding: 0 0 var(--space)0;
  letter-spacing: 0.05em;
  max-width: 60ch;
}
._b02a17 h1 {
  font-family: Grafier, serif;
  font-size: var(--heading-1);
  line-height: 1;
  font-weight: 400;
  hyphens: auto;
  margin: 0;
  padding: 0 0 1em 0;
  letter-spacing: 0;
}
._b02a17 h2,
._b02a17 h3,
._b02a17 h4,
._b02a17 h5,
._b02a17 h6 {
  font-family: Grafier, serif;
  font-size: var(--lead);
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 1em 0;
  letter-spacing: 0;
}
._b02a17 p {
  padding: 0 0 1em 0;
}
._b02a17 p:last-of-type {
  padding: 0;
}
._b02a17 a {
  letter-spacing: 0.1em;
  font-weight: 900;
}
._b02a17 table {
  font-family: inherit;
  font-size: var(--text);
  line-height: 1.6;
  width: 100%;
  border-collapse: collapse;
  margin: var(--space-x-small)0 0 0;
}
._b02a17 table tr {
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}
._b02a17 table tr:last-of-type {
  border-bottom: none;
}
._b02a17 table td {
  padding: var(--space-x-small)0;
  vertical-align: top;
}
._b02a17 table b {
  font-weight: 900;
}
._9a5c63 {
  display: block;
  font-size: var(--text--small);
  line-height: 1.16;
}
._d43f79 {
  padding: 0 0 var(--space-small)0;
  letter-spacing: 0.1em;
}
._d43f79 ul {
  position: relative;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text--small);
  line-height: 1.6;
}
._d43f79 li {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 0 0 var(--space)0;
  padding: 0 0 0 var(--space-small);
  hyphens: auto;
  overflow: hidden;
}
._d43f79 ul > :nth-child(2n+1) {
  border-right: solid 1px currentColor;
  padding: 0 var(--space-small)0 0;
}
._d43f79 a {
  font-weight: 900;
}
._783e33 {
}
._783e33 ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
._783e33 ul > :first-child a {
  background: var(--background-dark);
}
._783e33 a {
  font-size: var(--text);
  display: block;
  font-weight: 900;
  padding: 0.75em 1.5em;
  letter-spacing: 0.1em;
}
._f4bd3b {
  position: relative;
  left: calc(var(--space-small)*-1);
  width: calc(100% + var(--space));
  padding: var(--space)0 0 0;
}
._e7e68a {
  display: block;
  position: relative;
  padding-bottom: calc(337/377*100%);
}
._e7e68a img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width:1024px) {
  ._fddeb5 {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    align-content: start;
    align-items: start;
    gap: 0 var(--space-small);
    padding: var(--space-xx-large) var(--space-small);
  }
  ._da312f {
    padding: var(--space-xx-large) var(--space-small) 30vw var(--space-small);
  }
  ._8c7cbf {
    padding: var(--space-xx-large) var(--space-small) var(--space-large) var(--space-small);
  }
  ._09d861 {
    padding: 0 0 var(--space-x-large)0;
  }
  ._09d861,
  ._756826 {
    grid-column: 5/-5;
    z-index: 10;
  }
  ._bfcb5a ._09d861 {
    grid-column: 10/-2;
    grid-row: 1;
    padding: 0;
  }
  ._bfcb5a ._8eb485 {
    grid-column: 2/9;
    grid-row: 2;
    padding: 0;
    margin: 0;
  }
  ._bfcb5a ._756826 {
    grid-column: 10/-2;
    grid-row: 2;
    padding: var(--space-large)0 0 0;
  }
  ._bfcb5a._eacf59 ._09d861 {
    grid-column: 2/9;
  }
  ._bfcb5a._eacf59 ._756826 {
    grid-column: 2/8;
  }
  ._bfcb5a._eacf59 ._8eb485 {
    grid-column: 9/-2;
  }
  ._f55a96 {
    padding: 0 0 var(--space-x-small)0;
  }
  ._756826 {
    padding: 0;
  }
  ._936645 {
    line-height: 1.1;
    padding: 0 0 var(--space-medium)0;
  }
  ._b02a17 {
    line-height: 2;
    padding: 0 0 var(--space-medium)0;
  }
  ._d43f79 {
    padding: 0 0 var(--space)0;
  }
  ._d43f79 ul {
    display: flex;
    flex-wrap: wrap;
    left: calc(var(--space)*-1);
  }
  ._d43f79 li {
    flex-basis: auto;
  }
  ._d43f79 ul > :nth-child(n) {
    border-right: solid 1px currentColor;
    padding: var(--space-x-small) var(--space) var(--space-small) var(--space);
  }
  ._d43f79 ul > :last-child {
    border-right: none;
    padding-right: 0;
  }
  ._f4bd3b {
    position: absolute;
    margin: 0;
    width: 60%;
    left: 8%;
    bottom: var(--space-x-large);
    padding: 0;
  }
  ._e7e68a {
    padding-bottom: calc(1208/1154*100%);
  }
}
@media (min-width:1680px) {
  ._fddeb5:has(+ div > form) ._09d861 {
    grid-column: 6/-5;
  }
  ._fddeb5:has(+ div > form) ._756826 {
    grid-column: 6/-6;
  }
}

/* css-modules:css-modules://src_components_columns */
._94eb90 {
  padding: var(--space) var(--space-small);
}
._418675 {
  display: grid;
  gap: var(--space-medium);
}
@media (min-width:1024px) {
  ._94eb90 {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 0 var(--space-small);
    padding: var(--space-large) var(--space-small);
  }
  ._418675 {
    grid-column: 4/span 12;
    gap: var(--space-small);
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
}

/* css-modules:css-modules://src_components_info */
._06ff1d {
}
._0d4d9a {
  font-size: var(--eyebrow);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-xx-small)0;
}
._2db789 {
  font-size: var(--heading-4);
  padding: 0 0 var(--space)0;
  font-family: Grafier, serif;
  line-height: 1.2;
  font-weight: 400;
}
._302284 {
  font-size: var(--text);
  line-height: 1.6;
}
._302284 p {
  padding: 0 0 1em 0;
}
._302284 p:last-of-type {
  padding: 0;
}
._302284 b {
  font-weight: 900;
}
@media (min-width:1024px) {
  ._8d4459 {
    padding: 0;
    grid-column: 15/-1;
    line-height: 1.6;
  }
}

/* css-modules:css-modules://src_components_footer */
._5b8182 {
  position: relative;
  background: var(--grey);
  color: var(--green);
  padding: var(--space-x-large) var(--space-small);
}
._e13d64 {
  display: grid;
  gap: var(--space-medium);
}
._7bcf59 {
  font-size: var(--eyebrow);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-xx-small)0;
}
._acbc0a {
  font-size: var(--heading-4);
  padding: 0 0 var(--space)0;
  font-family: Grafier, serif;
  line-height: 1.2;
  font-weight: 400;
}
._a5ef3b {
  font-size: var(--text);
  line-height: 1.6;
}
._a5ef3b p {
  padding: 0 0 1em 0;
}
._a5ef3b p:last-of-type {
  padding: 0;
}
._a5ef3b b {
  font-weight: 900;
}
._9c87df {
  padding: var(--space-large)0 var(--space)0;
  text-transform: uppercase;
  line-height: 2;
}
@media (min-width:1024px) {
  ._5b8182 {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 0 var(--space-small);
    padding: var(--space-xx-large) var(--space-small) var(--space-x-large) var(--space-small);
    z-index: 100;
  }
  ._e13d64 {
    grid-column: 2/span 12;
    gap: var(--space-small);
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
  ._9c87df {
    padding: 0;
    grid-column: 15/-1;
    line-height: 1.6;
  }
}

/* css-modules:css-modules://src_components_input */
._78e074 {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  row-gap: 0.25rem;
  @supports not selector(:user-invalid) {
    &:has(> input:invalid) {
      color: var(--red);
    }
  }
  &:has(> input:user-invalid) {
    color: var(--red);
  }
}
._42a9b4 {
  grid-column: span 6;
}
._b2ac87 {
  grid-column: span 5;
}
._ec2758 {
  grid-column: span 4;
}
._2e66cd {
  grid-column: span 3;
}
._4a249d {
  grid-column: span 2;
}
._88b5d7 {
  grid-column: span 1;
}
._c7d675 {
  @media (min-width:1024px) {
    grid-column: span 6;
  }
}
._7a82d2 {
  @media (min-width:1024px) {
    grid-column: span 5;
  }
}
._ff4c39 {
  @media (min-width:1024px) {
    grid-column: span 4;
  }
}
._82f446 {
  @media (min-width:1024px) {
    grid-column: span 3;
  }
}
._266a7c {
  @media (min-width:1024px) {
    grid-column: span 2;
  }
}
._33a96c {
  @media (min-width:1024px) {
    grid-column: span 1;
  }
}
._62a0c1 {
  font-family: "Neue Machina", sans-serif;
  font-size: var(--text--small);
  font-weight: 400;
  line-height: 1.2;
}
._a2980d {
  box-sizing: border-box;
  min-width: 0;
  padding: 0.5em 1em;
  border-radius: 2px;
  border: 1px solid var(--green-dark);
  background-color: var(--green-dark);
  font-family: "Neue Machina", sans-serif;
  font-size: var(--text-medium);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0625em;
  color: var(--grey);
  &::placeholder {
    all: unset;
    opacity: 0.2;
  }
  &:focus {
    outline: 2px solid var(--grey);
    border-radius: 2px;
  }
  @supports not selector(:user-invalid) {
    &:invalid {
      border-color: var(--red);
      outline-color: var(--red);
      color: var(--red);
      &::placeholder {
        opacity: 0.3;
      }
    }
  }
  &:user-invalid {
    border-color: var(--red);
    outline-color: var(--red);
    color: var(--red);
    &::placeholder {
      opacity: 0.3;
    }
  }
  @media (min-width: 1024px) {
    line-height: 2.2222222222;
  }
  @media (min-width: 1680px) {
    line-height: 1.9;
  }
}

/* css-modules:css-modules://src_components_fielddescription */
._4ff17f {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    padding: 0;
    font-family: Grafier, serif;
    font-size: var(--lead);
    font-weight: 400;
    line-height: 1.2;
  }
  & p {
    max-width: 60ch;
    padding: 0;
    font-size: var(--text-medium);
    line-height: 1.6;
    letter-spacing: 0.05em;
  }
  & a {
    font-weight: 900;
    letter-spacing: 0.1em;
  }
}
._3f3c91 {
  opacity: 0;
}
._d1f62b {
}
._bfc5ee {
  display: grid;
  align-items: center;
}

/* css-modules:css-modules://src_components_fieldseparator */
._4462cb {
  grid-column: span 6;
}
._7dd37a {
  border-bottom: 1px solid var(--grey);
}
._1fdb15 {
  padding-block: calc(1.25rem - var(--row-gap));
}
._818d7d {
  padding-block: calc(1.875rem - var(--row-gap));
}
._adeb05 {
  padding-block: calc(2.5rem - var(--row-gap));
}

/* css-modules:css-modules://src_components_inputcheckbox */
._0479c5 {
  position: relative;
  display: block grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 0.75rem;
  align-items: center;
  margin: 0;
  border-width: 0;
  padding: 0;
  font-family: "Neue Machina", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  @media (min-width:1024px) {
    column-gap: 1.25rem;
  }
}
._612cd4 {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey);
  &:has(~ input:checked) {
    & path:nth-child(2) {
      opacity: 1;
    }
  }
}
._4a10db {
  opacity: 0;
}
._4f669e {
  & a {
    font-weight: 900;
    text-decoration: underline;
  }
}
._4ab76c {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* css-modules:css-modules://src_components_inputdate */
._b828f7 {
}
._58d1b5 {
  -moz-appearance: textfield;
  &::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
  }
}

/* css-modules:css-modules://src_components_inputemail */
._4a9c7d {
}

/* css-modules:css-modules://src_components_inputnumber */
._3ac065 {
}
._3609d4 {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* css-modules:css-modules://src_components_inputphone */
._fdbdcc {
}

/* css-modules:css-modules://src_components_inputradio */
._6446cd {
  grid-column: span 6;
  position: relative;
  display: block flex;
  flex-wrap: wrap;
  gap: var(--row-gap) 2rem;
  margin: 0;
  border-width: 0;
  padding: 0;
  font-family: "Neue Machina", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}
._100c4a {
  display: block grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 0.5rem var(--column-gap);
}
._758475 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
._515ed2 {
  position: relative;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr)0;
  column-gap: 0.5rem;
  align-items: center;
}
._45fd1d {
  width: 2rem;
  height: 2rem;
  fill: var(--grey);
  &:has(~ input:checked) {
    & circle {
      opacity: 1;
    }
  }
}
._8e785a {
  opacity: 0;
}
._df75c2 {
}
._dfc70c {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* css-modules:css-modules://src_components_inputselect */
._226afb {
}
._d6f041 {
  min-height: 3.125rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @media (min-width:1024px) {
    min-height: 3.75rem;
  }
}

/* css-modules:css-modules://src_components_inputtext */
._75b9fb {
}

/* css-modules:css-modules://src_components_inputtextarea */
._4e306b {
}
._f26d0f {
  resize: none;
}

/* css-modules:css-modules://src_components_gallery */
._36ce55 {
  padding: var(--space)0 var(--space-small)0;
}
._d8ed09 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-xx-small)0;
}
._824560 {
  font-size: var(--heading-1);
  font-family: Grafier, serif;
  line-height: 1;
  font-weight: 400;
  padding: 0 0 var(--space)0;
}
._d14186 {
  font-size: var(--space-small);
  line-height: 1.6;
}
._8e884e {
  padding: 0 var(--space-small) var(--space-medium) var(--space-small);
}
._7c2531 {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  grid-auto-columns: minmax(75vw, min-content);
  scroll-snap-type: x mandatory;
  padding: 0 0 var(--space-small)0;
}
._7c2531::-webkit-scrollbar {
  display: none;
}
._7c2531 > :last-child:after {
  content: "";
  position: absolute;
  width: 25vw;
  right: -25vw;
  top: 0;
  height: 100%;
}
._a729e8 {
  display: grid;
  position: relative;
  scroll-snap-align: start;
  padding: 0 0 0 var(--space-small);
}
._8a823b {
  width: 100%;
  padding: 0 0 var(--space)0;
}
._3679e3 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 var(--space-small)0;
}
._77cd4b {
  font-size: var(--heading-5);
  line-height: 1.1;
  padding: 0 0 var(--space-small)0;
  white-space: pre-line;
}
._e6645f {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
}
@media (min-width:1024px) {
  ._36ce55 {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 0 var(--space-small);
    padding: var(--space-medium) var(--space-small) var(--space-small) var(--space-small);
  }
  ._8e884e {
    grid-column: 5/-1;
    padding: 0 0 var(--space-medium)0;
  }
  ._7c2531 {
    grid-column: 4/-2;
    padding: 0;
    gap: var(--space-large) var(--space);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: unset;
    overflow: hidden;
  }
  ._a729e8 {
    padding: 0;
  }
}

/* css-modules:css-modules://src_components_imagepair */
._43dc2f {
  display: grid;
  gap: var(--space-x-small);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0 0 var(--space-x-large)0;
}
._fab50e {
  padding: var(--space-x-large)0;
}
._e2338f ._0e1a4d {
  padding: var(--space-medium)0 0 0;
}
._e2338f ._d3499d {
  padding: 0;
}
._d3499d {
  padding: var(--space-medium)0 0 0;
}
@media (min-width:1024px) {
  ._43dc2f {
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: var(--space-small);
    padding: 0 var(--space-small) var(--space-xx-large) var(--space-small);
  }
  ._fab50e {
    padding: var(--space-xx-large) var(--space-small);
  }
  ._0e1a4d {
    grid-column: 3/9;
  }
  ._d3499d {
    grid-column: 9/-3;
  }
  ._e2338f ._0e1a4d {
    padding: var(--space-xx-large)0 0 0;
  }
  ._d3499d {
    padding: var(--space-xx-large)0 0 0;
  }
}

/* css-modules:css-modules://src_components_pagenavigation */
._4db49f {
  position: relative;
  padding: var(--space-xx-large) var(--space-small);
  background: var(--background);
}
._26a0c2 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: solid 1px currentColor;
  padding: 0 0 var(--space-small)0;
}
._26a0c2 > :last-child {
  text-align: right;
}
._26a0c2 > :last-child ._ade37a {
  transform: rotate(180deg);
}
._7ad393,
._219bb9 {
  font-family: Grafier, serif;
  font-size: var(--page-nav);
  line-height: 1;
  letter-spacing: 0;
}
._ade37a {
  width: 21.6vmin;
  height: 2.133vmin;
  fill: currentColor;
}
._b5ae7b {
  display: block;
  font-family: Grafier, serif;
  font-size: var(--page-nav);
  letter-spacing: 0;
  line-height: 1.2;
  padding: var(--space-x-small)0 0 0;
}
._219bb9 {
  text-align: right;
}
@media (min-width:1024px) {
  ._4db49f {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: var(--space-small);
    z-index: 100;
  }
  ._26a0c2 {
    grid-column: 2/-2;
    padding: 0 0 var(--space)0;
  }
  ._ade37a {
    width: 4.219vw;
    height: 0.416vw;
  }
  ._b5ae7b {
    padding: var(--space)0 0 0;
  }
}

/* css-modules:css-modules://src_components_quote */
._ef7e1c {
  overflow: hidden;
  padding: var(--space-x-large) var(--space-small);
}
._46a133 {
  padding: 0 var(--space-small) var(--space-x-large) var(--space-small);
}
._50a212 {
  font-size: var(--eyebrow);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
._0f2468 {
  font-family: Grafier, serif;
  font-size: var(--quote);
  line-height: 1.1;
  margin: 0;
}
._0f2468 p {
  margin: 0;
}
@media (min-width:1024px) {
  ._ef7e1c {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 0 var(--space-small);
    padding: var(--space-xx-large) var(--space-small);
  }
  ._46a133 {
    padding: 0 var(--space-small) var(--space-xx-large) var(--space-small);
  }
  ._0f2468,
  ._50a212 {
    grid-column: 5/-5;
  }
}
/*# sourceMappingURL=/index.css.map */
