<header class="_68f6d6">
			<div class="_15837d">
				<a class="_df3134" href="/ru/"><img class="site-logo-image site-logo-image--left" src="/logo-ru-left.svg" alt="Ближний круг" decoding="async" /><img class="site-logo-image site-logo-image--right" src="/logo-ru-right.svg" alt="" aria-hidden="true" decoding="async" /></a><button class="_d7265a">Меню</button>
			</div>
			<div class="_68695a">
				<div class="_cdc81a">
					<div class="_c67921"><p><a href="/ru/#concept">О проекте</a></p></div><div class="_c67921"><p><a href="/ru/formats/">Форматы</a></p></div><div class="_c67921"><p><a href="/ru/space/">Пространство</a></p></div><div class="_c67921"><p><a href="/ru/veranstaltungen/">События</a></p></div><div class="_c67921"><p><a href="/ru/code/">Культура</a></p></div><div class="_c67921"><p><a href="/ru/#pricing">Стоимость</a></p></div><div class="_c67921"><p><strong><a href="/ru/kontakt/">Заявка</a></strong></p></div>
					<div class="_c67921 _2575d7"><span>RU</span> / <a href="{{ALT_LANG_HREF}}">EN</a></div>
					<button class="_856e5a"><svg viewBox="0 0 25 23" xmlns="http://www.w3.org/2000/svg"><path d="M11.5002 23V0H13.0543V23H11.5002Z" /><path d="M-9.84669e-05 11.3447L24.554 11.3447L24.554 11.6555L-9.84805e-05 11.6555L-9.84669e-05 11.3447Z"/><path d="M13.1186 11.4995L21.7998 20.1807L21.58 20.4004L12.8989 11.7193L13.1186 11.4995Z" /><path d="M3.01732 2.64207L11.6985 11.3232L11.4787 11.543L2.79754 2.86185L3.01732 2.64207Z"/><path d="M11.4788 11.4995L2.79761 20.1807L3.01738 20.4004L11.6986 11.7193L11.4788 11.4995Z"/><path d="M21.5803 2.64207L12.8992 11.3232L13.1189 11.543L21.8001 2.86185L21.5803 2.64207Z"/></svg></button>
				</div>
			</div>
		</header>
